body{
    font-family: 'Poppins', sans-serif;
    margin: 0
}
.font-family{
    color: orange;
}
h1{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;  
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: orange;
}
.flexible-container{
    
    
}
.border{
    width: 40%;
    box-shadow:10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border: 1opx solid red;
    
    border-radius: 10px;
    

}
.experience{
    text-align: center;
}
#ex-id{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan );
    border-image-slice: 1;
}
#exp-id{
    border-left: 10px solid;
    border-image:linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
p{
    text-align: center;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}